RewriteEngine on

# Cambie sudominio.com por su dominio principal.
RewriteCond %{HTTP_HOST} ^(www.)?blumimax.com$ [NC]

# Cambie 'subfolder' al nombre del folder donde va a redirigir su dominio principal.
RewriteCond %{REQUEST_URI} !^/public/

# No cambie estas líneas.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Cambie 'subfolder' al nombre del folder donde va a redirigir su dominio principal.
RewriteRule ^(.*)$ /public/$1 [L]

# Cambie sudominio.com por su dominio principal de nuevo.
# Cambie 'subfolder' al nombre del folder donde va a redirigir su dominio principal.
# Seguido del nombre del archivo principal del sitio como index.php, index.html, etc.
RewriteCond %{HTTP_HOST} ^(www.)?blumimax.com$ [NC]
RewriteRule ^(/)?$ public/index.php [L]