/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



body {
  margin-top: 50px;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* Links */
a {
  color: #E03434;
}
a:hover,
a:focus {
  color: #BE1D1D;
}


/* Botones */
.btn-link {
  color: #E03434;
}
.btn-link:hover,
.btn-link:focus {
  color: #BE1D1D;
  text-decoration: none;
}
.btn-link.success {
  color: #5cb85c;
}
.btn-link.success:hover,
.btn-link.success:focus {
  color: #3DA13D;
  text-decoration: none;
}
.btn-link.default {
  color: #666;
}
.btn-link.default:hover,
.btn-link.default:focus {
  color: #555;
  text-decoration: none;
}


/* Carousel */
.carousel-inner {
}
.carousel-inner>.item>img, 
.carousel-inner>.item>a>img {
  margin: 2% 10%;
  max-height: 280px;
}
.carousel-inner .carousel-caption {
  bottom: 30px;
  color: #333;
  left: auto;
  right: auto;
  width: 50%;
}
.carousel-control {
  color: #000;
}
.carousel-control:hover {
  color: #333;
}
.carousel-control.left {
  background-image: none; 
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: none;
}
.carousel-control.right {
  background-image: none; 
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: none;
}
.carousel-control .icon-next, 
.carousel-control .glyphicon-chevron-right {
  right: 0;
}
.carousel-control .icon-next, 
.carousel-control .glyphicon-chevron-left {
  left: 0;
}
.carousel-indicators {
  bottom: 0px;
}
.carousel-indicators li {
  border: 1px solid #999;
}
.carousel-indicators .active {
  background-color: #999;
}



/* Dropdowns */
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 0px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display:block;
}
.dropdown-submenu>a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
  float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #666;
}


/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  margin-top: 40px;
  width: 100%;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer > .container .row {
  margin: 20px 0;
}


/* Botón Search */
.input-group-btn:last-child>.btn, 
.input-group-btn:last-child>.btn-group {
  background-color: #ff0000;
  border: solid 1px #ff0000;
  color: white;
}
.input-group-btn:last-child>.btn:hover, 
.input-group-btn:last-child>.btn:focus, 
.input-group-btn:last-child>.btn-group:hover,
.input-group-btn:last-child>.btn-group:focus {
  background-color: #bf0000;
  border: solid 1px #bf0000;
}



/* Listas Verticales */
.list-group {
  margin: 0;
  padding: 0 0 0 5px;
}
.radio, 
.checkbox {
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 0px;
}
.list-group-item {
  border: 1px solid #ddd;
  padding: 6px 0 6px 15px;
}
.list-group-item a {
  margin-right: 10px;
}
/* Listas Horizontales */
.list-inline {
  display: block;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
}


/* Navbar */
.navbar-form {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form,
.navbar-default .navbar-toggle {
  border-color: #2D2D2D; 
}
.navbar-default {
  background-color: #333;
  border-color: transparent;
  color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
  color: #ccc;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #222;
}


/* Logo */
.navbar-brand > img {
  height: auto;
  width: 150px;
}


/* Page Header */
.page-header.grey {
  background-color: #efefef;
}



/* Paginador */
.pagination>li>a, 
.pagination>li>span {
  color: #666;
}
.pagination>li>a:hover, 
.pagination>li>a:focus, 
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #666;
}
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
  background-color: #E03434;
  border-color: #E03434;
}


/* Thumbnails */
.thumbnail {
  border-color: #efefef;
  -webkit-transition: all .3s linear;
  -o-transition:      all .3s linear;
  -moz-transition:    all .3s linear;
  -ms-transition:     all .3s linear;
  -kthtml-transition: all .3s linear;
  transition:         all .3s linear;
}
.thumbnail:hover {
  -webkit-box-shadow: 0px 0px 25px #999;
  -o-box-shadow:      0px 0px 25px #999;
  -moz-box-shadow:    0px 0px 25px #999;
  -ms-box-shadow:     0px 0px 25px #999;
  -kthtml-box-shadow: 0px 0px 25px #999;
  shadow:             0px 0px 25px #999;
}
.thumbnail>img, .thumbnail a>img {
  height: 110px;
  width: auto;
}





/* Media Queries */

/* 1024 */
@media all and (max-width:64em) {
  
  .navbar-form {
    margin-right: 15px; 
    margin-left: 15px; 
  }

  .dropdown-submenu>a:after {
    display: none;
  }

  .dropdown.open .dropdown-menu .dropdown.dropdown-submenu .dropdown-menu {
    display: none;
  }

}

